<div class="main-container">
  <div class="formulario-register">
    <h3>registro</h3>
    <div class="botones-rol">
      <button [ngClass]="{'activo':formulario.get('rol')?.value === 'vendedor'}" (click)="selectRol('vendedor')" class="usuario rol">
        <i class="fa-solid fa-user"></i>vendedor
      </button>
      <button [ngClass]="{'activo':formulario.get('rol')?.value === 'reciclador'}" (click)="selectRol('reciclador')" class="vendedor rol">
        <i class="fa-solid fa-recycle"></i> Reciclador
      </button>
    </div>
    <form [formGroup]="formulario" class="formulario">
      <!-- usuario -->
      <label for="inputUser">Nombre</label>
      <input
        formControlName="nombre"
        type="text"
        class="form-control"
        id="inputUser"
        aria-describedby="basic-addon1"
      />

      <!-- contraseña -->
      <label for="inputPassword6">Contraseña</label>
      <input
        formControlName="clave"
        type="password"
        class="form-control"
        id="inputPassword6"
        aria-describedby="basic-addon1"
      />

      <!-- email -->
      <label for="inputEmail">Email</label>
      <input
        formControlName="correo"
        type="email"
        class="form-control"
        id="inputEmail"
        aria-describedby="basic-addon1"
        placeholder="example@gmail.com"
      />
      <!-- barrio -->
      <label for="inputBarrio">Barrio</label>
      <select formControlName="barrio" class="form-select" aria-label="Default select example">
        <option selected>Seleccione</option>
        @for (barrio of barrios; track $index) {
          <option [value]="barrio">{{barrio}}</option>
        }
        </select>
      <!-- direccion -->
      <label for="inputDireccion">Direccion</label>
      <input
        formControlName="direccion"
        type="text"
        class="form-control"
        id="inputDireccion"
        aria-describedby="basic-addon1"
      />

      <button (click)="submit()" type="button" class="btn btn-success">Registrarse</button>
    </form>
  </div>
</div>
