.container-head{
    background: #d5d4d4;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container-body{
    background:#efefef;;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}


.container-options{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}




.container-options img{
    width: 100px;
    

}

.container-options a{
    margin-left: 50px;
    margin-right: 50px;
    

}

p{
    text-align: center;
    margin-top: 5px;
    
}
a{
    text-decoration: none;
    color: black;
}

.container-select{
    display: flex;
    flex-direction: column;
    transition: transform .2s;
}

.container-select:hover{
    transform: scale(1.5);
}
