<div class="container-head">
    <p id="title-main">DASHBOARD</p> 
    <p id="title-sec">Home > Dashboard</p>
</div>
<div class="container-body">
    
<div class="div1" style="display: flex; margin-bottom: 9%;">

    <div class="container-options">
        <div  class="container-select">
        <a href="admin/agregar"><img src="/assets/img/admin/dashboard/boton-agregar.png" alt=""><p>AGREGAR</p></a>
        </div>
    </div>

    <div class="container-options">
         <div  class="container-select">
        <a href="admin/editar"><img src="/assets/img/admin/dashboard/editar.png" alt=""><p>EDITAR</p></a>
        </div>
    </div>

    <div class="container-options">
        <div  class="container-select">
        <a href="admin/deshabilitar"><img src="/assets/img/admin/dashboard/deshabilitar.png" alt=""><p>DESHABILITAR</p></a>
        </div>
    </div>

</div>

    
<div class="div2" style="display: flex">

    <div class="container-options">
        <div  class="container-select">
        <a href="admin/solicitudes"><img src="/assets/img/dashboard/perfiles.png" alt=""><p>SOLICITUDES</p></a>
        </div>
    </div>

    <div class="container-options">
         <div  class="container-select">
        <a href="admin/vendedores"><img src="/assets/img/dashboard/vendedor.png" alt=""><p>VENDEDORES</p></a>
        </div>
    </div>

    <div class="container-options">
        <div  class="container-select">
        <a href="admin/recicladores"><img src="/assets/img/dashboard/papelera-de-reciclaje.png" alt=""><p>RECICLADORES</p></a>
        </div>
    </div>
</div>
    
                

</div>