.main-vendedor{
    display: grid;
    grid-template-columns: 20% 80%;

    // background-color: blue;
}

// * LEFT


// * MAIN
.main-wrapper{
    // background-color: rgb(255, 226, 41);
    overflow-y: auto;
}

.content-wrapper{
    height: 100%;
    background-color: rgb(228, 228, 228);
}