<div class="main flex-c wd-ht-100">
    <div class="banner-wrapper wd-100">
        <h1>Bienvenido vendedor</h1>
    </div>

    <div class="options-wrapper flex-c wd-100">
        <h3 class="wd-100">Menu de acceso rápido</h3>

        <div class="options grid-2 wd-100">
            <div class="option-item flex-c wd-100">
                <div class="icon-wrapper wd-100">
                    <i class="fas fa-plus"></i>
                </div>
                <label class="texto">
                    Crear nueva solicitud
                </label>
            </div>

            <div class="option-item flex-c wd-100">
                <div class="icon-wrapper wd-100">
                    <i class="fas fa-eye"></i>
                </div>
                <label class="texto">
                    Ver mis solicitudes
                </label>
            </div>
        </div>
    </div>
</div>
