
<div class="container-body">
    <div>LISTA DE MATERIALES</div>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCION</th>
                    <th>CATEGORIA</th>
                    <th>PRECIO</th>
                    <th>ACCIONES</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
                    <td>CULE HIERRO</td>
                    <td>BARRA DE METAL DE 1 KG</td>
                    <td>METAL</td>
                    <td>$20.000</td>
                    <td><button>DESHABILITAR</button><button id="boton-borrar"><img  src="/assets/img/admin/deshabilitar/borrar.png" alt=""></button><td>
          </tr>
          <tr>
           
        </tbody>
      </table>
   
    <div>
    </div>


</div>