.container-head{
    background:#b89c9c;;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
    flex-direction: column;
    height: 20%;
}
.container-buttons{
    background:#ffd9d9;;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: center;
    flex-direction: column;
    height: 10%;
}
.container-body{
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-shrink: 1;
    justify-content: flex-start;
    flex-direction: column;
    height: 70%;
}

#boton-borrar{
    background: none;
    border: none;
}


