<div class="main flex-c wd-ht-100">
  <div class="titulo-wrapper wd-100">
    <h1>Crear nueva solicitud</h1>
  </div>

  <p class="wd-100">Sigue los pasos:</p>
  <div class="pasos-wrapper wd-100">
    <button type="button" [disabled]="pasoActual !== 1" class="btn btn-primary">
      1. Selección de material
    </button>
    <button type="button" [disabled]="pasoActual !== 2" class="btn btn-primary">
      2. Establecer parámetros
    </button>
    <button type="button" [disabled]="pasoActual !== 3" class="btn btn-primary">
      3. Finalizar
    </button>
  </div>

  <!-- ! PASO #1 -->
  @if (pasoActual === 1) {
    <hr class="wd-100" />
    <h4 class="wd-100">Seleccione el material que quiere vender:</h4>
    <div class="materiales-wrapper flex-c grid-4 wd-100">
      @if (materialesShow.length > 0) {
        @for (material of materialesShow; track $index) {
          <div class="material-item wd-ht-100">
            <div class="img-wrapper wd-100">
                <img class="wd-ht-100" src="/assets/img/producto-default.png" alt="" />
            </div>

            <div class="info-wrapper flex-c">
                <b class="wd-100"><p> {{material.nombre}} </p></b>
                <small class="wd-100">Precio sugerido (unidad): ${{ material.precio_unitario_sugerido }}</small>
            </div>

            <div class="btn-wrapper wd-100 flex-c">
                <button class="btn btn-primary" (click)="seleccionarMaterial(material)">Seleccionar</button>
            </div>
          </div>
        }
      }
    </div>
  }

  <!-- ! PASO #2 -->
  @if (pasoActual === 2) {
    <hr class="wd-100" />
    <h4 class="wd-100">Establezca un precio</h4>
    
    <div class="product-wrapper wd-100">
        <div class="img-wrapper wd-ht-100">
            <img src="/assets/img/producto-default.png" alt="">
        </div>

        <div class="info-wrapper">
            <h4 class="wd-100">{{materialSelect.nombre}}</h4>
            <p class="wd-100">
                {{materialSelect.descripcion}}
            </p>

            <p class="wd-100">Precio sugerido (unidad): {{ materialSelect.precio_unitario_sugerido }}</p>

            <div class="precio-wrapper wd-100">
                <label style="margin-right: 20px;">Ingrese el precio (unitario) de venta: </label> 
                <div class="form-check">
                    <input (click)="usarElMismoPrecio()" class="form-check-input" type="checkbox">
                    <label class="form-check-label">
                      Usar el precio sugerido
                    </label>
                  </div>
            </div>

            <div class="form-group">
                <input [(ngModel)]="precioEstablecido" type="number" class="form-control">
            </div>
              
            <div class="form-group">
                <label>Cantidad:</label>
                <input [(ngModel)]="cantidad"  type="text" class="form-control">
            </div>

            <div class="form-group">
                <label>Barrio:</label>
                <select [(ngModel)]="barrio" class="form-select" aria-label="Default select example">
                    <option selected>Seleccione</option>
                    @for (barrio of barrios; track $index) {
                      <option [value]="barrio">{{barrio}}</option>
                    }
                  </select>
            </div>

        </div>
    </div>

    <div class="btn-wrapper-2 wd-100">
        <button class="btn btn-warning" (click)="irAPaso(1)">
            <i class="fas fa-arrow-left"></i>
            Volver
        </button>

        <button class="btn btn-success" (click)="confirmarPrecio()">
            <i class="fas fa-check"></i>
            Confirmar precio
        </button>
    </div>
  }

  <!-- ! PASO #3 -->
  @if (pasoActual === 3){
    <hr class="wd-100">
    <h4 class="wd-100">Resumen de solicitud</h4>

    <div class="product-wrapper wd-100">
        <div class="img-wrapper wd-ht-100">
            <img src="/assets/img/producto-default.png" alt="">
        </div>

        <div class="info-wrapper">
            <h4 class="wd-100">Nombre material</h4>
            <p class="wd-100">
                descripcion material
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere amet ducimus saepe quia non repudiandae reprehenderit, veniam consequatur delectus inventore excepturi quae, aspernatur eligendi sed, neque minus. Tempore, asperiores ut.
            </p>

            <p class="wd-100">Precio sugerido (unidad): $3423432</p>

            <p class="wd-100">Precio establecido (unidad): $32423</p>
            <p class="wd-100">Cantidad: 12</p>

            <b class="wd-100"><p>Valor total: $2312321</p></b>
            <b class="wd-100"><p>Barrio: El prado</p></b>
        </div>
    </div>
    
    <div class="btn-wrapper-2 wd-100">
      <button class="btn btn-warning" (click)="irAPaso(2)">
        <i class="fas fa-arrow-left"></i>
        Volver
      </button>

      <button class="btn btn-success" (click)="emitirSolicitud()">
          <i class="fas fa-share"></i>
          Emitir solicitud
      </button>
    </div>
  }
</div>
