<div class="container-head">
  <p id="title-main">DASHBOARD</p> 
  <p id="title-sec">> Recicladores</p>
</div>
<div class="container-buttons">
  <div>
      <p>BUSCAR POR</p>
      <button>NOMBRE</button>
      <button>BARRIO</button>
      <button>DIRECCION</button>
  
  </div>
</div>
<div class="container-body">

  <table class="table table-striped">
      <thead>
        <tr>
                <th>ID</th>
                  <th>NOMBRE</th>
                  <th>CORREO</th>
                  <th>BARRIO</th>
                  <th>DIRECCION</th>
                  <th>ACCIONES</th>
        </tr>
      </thead>
      <tbody id="myTable" >
        <tr>
          <td>1</td>
          <td>ANDRES PEREZ</td>
          <td>ANDRESSTUUSS.COM</td>
          <td>20JUOIO</td>
          <td>CALLE 71C 2 - 16</td>
          <td><button id="boton-borrar"><img  src="/assets/img/admin/deshabilitar/borrar.png" alt=""></button><td>
        </tr>

      
         
      </tbody>
    </table>
 
  <div>
  </div>


</div>

