

    <div class="parent">
        <div class="div1">
           <div class="container-info">
            <img id="foto-perfil" src="" alt="">
            <p id="NOMBRE">CARLOS PEREZ</p>
            <p id="rol">VENDEDOR</p>
        
        </div>

            <div class="contenedor-modulos">
                <ul>
                    <li><img src="/assets/img/dashboard/solicitud.png" alt=""><a href="">HOME</a></li>
                    <li><img src="/assets/img/dashboard/solicitud.png" alt=""><a href="">ACCIONES</a></li>
                    <li><img src="/assets/img/dashboard/solicitud.png" alt=""><a href="">SOLICITUDES</a></li>
                    <li><img src="/assets/img/dashboard/vendedor.png" alt=""><a href="">VENDEDORES</a></li>
                    <li><img src="/assets/img/dashboard/reciclar-senal.png" alt=""><a href="">RECILCADORES</a></li>
                </ul>
            </div>
            </div>
        <div class="div2"><router-outlet></router-outlet> </div>
        </div>