
<div class="container-body">
   
    <div class="container-form">
      
        <div class="tittle-material" style="text-align: center;">MODIFICAR MATERIAL</div>
       
        <form  class="v-row" style="    display: flex;
        flex-direction: column;">
            <div class="form-group input-text ">
                <label for="exampleInputEmail1">Nombre</label>
                <div style="display: flex;
                flex-direction: row;
                align-items: center;">
                  <input type="text" class="form-control text" id="" placeholder="">    
                </div>
                        
              </div>
              
            <div class="form-group input-text">
              <label for="exampleInputEmail1">Descripcion</label>
              <input type="text" class="form-control text" id="" placeholder="">
            </div>
            <div class="form-group input-text" style="display: flex;
            flex-direction: column;">
              <label for="exampleInputPassword1">Categoria</label>
              <select name="" id="">
                <option class="text" value="">SELECCIONAR</option>
                <option class="text" value="">METAL</option>
                <option class="text" value="">CARTON</option>
                <option class="text" value="">PLASTICO</option>
                
              </select>
              
            </div>
            <div class="form-group input-text">
                <label for="exampleInputPassword1">Precio sugerido</label>
                <input type="text" class="form-control text" id="" placeholder="">
              </div>
            
            <button type="submit" class="btn btn-primary">MODIFICAR</button>
          </form>
        
    </div>
</div>

