<div class="main-container">

<div class="welcomcontainer">
    <div class="welcom">
      <div id="txtcontainer">
        <h1>Bienvenido</h1>
      </div>
      <div id="imagecontainer">
        <img id="logo" src="assets/img/logo.png" alt="">
      </div>
    </div>
  </div>


  <div class="modulos">
   <a href="reciclador/solicitudes"> <button class="modulo solicitudes"> <img src="/assets/img/ver.png" alt="">ver solicitudes</button></a>
   <a href="reciclador/explorar"> <button class="modulo explorar"><img src="/assets/img/buscar.png" alt=""> explorar solicitudes</button></a>
  </div>


</div>