.aside {
  background-color: white;

  // * USER-INFO
  .user-info-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;

    .img-wrapper {
      padding: 20px;

      img {
        border-radius: 50%;
      }
    }

    .info {
      justify-content: center;
      text-align: left;

      p {
        margin: 0;
      }
    }
  }

  hr {
    width: 100%;
  }

  // * OPTIONS
  .options-wrapper {
    gap: 30px;
    padding: 5%;

    .option-item {
      display: grid;
      grid-template-columns: 40% 60%;
      border-radius: 12px;
      padding: 4px;
      align-items: center;
      cursor: pointer;
      transition: background-color 300ms ease-in-out;

      color: gray;

      .icon-wrapper {
        display: grid;
        padding: 12px;

        place-items: center;
      }

      p {
        font-size: 20px;
        margin: 0;
      }
    }
  }
}

.option-item:hover {
  background-color: rgb(190, 241, 248);
  color: black;
}
