<main class="main wd-ht-100">
    <h1>Solicitud detalles</h1>
    
    <hr class="wd-100">
    <h4 class="wd-100">Detalles del material</h4>
    <div class="material-wrapper wd-100">
        <div class="img-wrapper wd-ht-100">
            <img src="/assets/img/producto-default.png" alt="">
        </div>

        <div class="info-wrapper">
            <h4 class="wd-100">Nombre material</h4>
            <p class="wd-100">
                descripcion material
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere amet ducimus saepe quia non repudiandae reprehenderit, veniam consequatur delectus inventore excepturi quae, aspernatur eligendi sed, neque minus. Tempore, asperiores ut.
            </p>
        </div>
    </div>

    <hr class="wd-100">
    <h4 class="wd-100">Información financiera:</h4>
    <div class="money-wrapper flex-c">
        <p class="wd-100">Precio sugerido (unidad): $3423432</p>

        <p class="wd-100">Precio establecido (unidad): $32423</p>
        <p class="wd-100">Cantidad: 12</p>

        <b class="wd-100"><p>Valor total: $2312321</p></b>
        <b class="wd-100"><p>Barrio: El prado</p></b>
        <label class="wd-100"><b>Estado: </b> Activa</label>
    </div>

    <div class="btn-wrapper wd-100">
        <button class="btn btn-warning">dwad</button>
    </div>
</main>